*{
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    background-image: url(bg.png);
    background-repeat: repeat;
    background-size: 1280px 720px;
    height: 100vh;
    width: 100vw;
}

.gear {
    position: relative;
    width: 25vw;
    top: 14.5%;
    left: 34.8%;
    animation: spin 10s linear infinite;
}

.bulb {
    position: relative;
    width: 25vw;
    top: 20%;
    left: 9.5%;

}

.leaf {
    position: relative;
    width: 25vw;
    top: 20%;
    left: -16%;

}


@media only screen and (max-width: 415px) {
    
    .gear {
        position: relative;
        width: 25vw;
        top: 18.5%;
        left: 35%;
        animation: spin 10s linear infinite;
    }
    
    .bulb {
        position: relative;
        width: 25vw;
        top: 20%;
        left: 9%;
    
    }
    
    .leaf {
        position: relative;
        width: 25vw;
        top: 20%;
        left: -17%;
    
    }    

}


@media only screen and (max-width: 940px) {
    .gear {
        position: relative;
        width: 25vw;
        top: 18%;
        left: 34.8%;
        animation: spin 10s linear infinite;
    }
}

@media only screen and (width : 1024px) and (height: 1366px) {
    .gear {
        top: 17.5%;
    }
}





@keyframes spin {
    0% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    100% {
        transform: rotate(360deg);
    }
}