*{
    margin: 0;
    padding: 0;
}

.container {
    /* display: flex; */
    position: absolute;
    background-image: url(bg.png);
    background-repeat: repeat;
    background-size: 1280px 720px;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.gear {
    position: relative;
    width: 25vw;
    top: 14.5%;
    left: 34.8%;
    animation: spin 10s linear ease-in;
    animation-delay: 2s;
}

.bulb {
    position: relative;
    width: 25vw;
    top: 20%;
    left: 9.5%;

}

.leaf {
    position: relative;
    width: 25vw;
    top: 20%;
    left: -16%;

}

.letter-f {
    position: relative;
    width: 25vw;
    margin: auto;
    animation: letter-f 5s infinite;
    animation-direction: normal;
}

.letter-a {
    position: relative;
    width: 25vw;
    margin: auto;
    animation: letter-a 5s infinite;
    animation-direction: normal;
}

.letter-r {
    position: relative;
    width: 25vw;
    margin: auto;
    animation: letter-r 5s infinite;
    animation-direction: normal;
}

.letter-m {
    position: relative;
    width: 25vw;
    margin: auto;
    animation: letter-m 5s infinite;
    animation-direction: normal;
}

.letter-s {
    position: relative;
    width: 25vw;
    margin: auto;
    animation: letter-s 5s infinite;
    animation-direction: normal;
}

.letter-n {
    position: relative;
    width: 25vw;
    margin: auto;
    animation: letter-n 5s infinite;
    animation-direction: normal;
}

.letter-n2 {
    position: relative;
    width: 25vw;
    margin: auto;
    animation: letter-n2 5s infinite;
    animation-direction: normal;
}

.letter-i {
    position: relative;
    width: 25vw;
    margin: auto;
    animation: letter-i 5s infinite;
    animation-direction: normal;
}

.gear2 {
    position: relative;
    width: 25vw;
    margin: auto;
    animation: spin 10s linear infinite;
    z-index: 90;
}

.bulb2 {
    position: relative;
    width: 25vw;
    margin: auto;
    z-index: 100;
}

.leaf2 {
    position: relative;
    width: 25vw;
    margin: auto;
}

.wrapper{
    position: relative;
    width: 15vw;
    height: auto;
    margin-left: 30vw;
    /* margin: auto; */
    align-items: center;
    padding-top: 25vh;
}

.wrapper div {
    position: absolute;
    height: inherit;
    width: inherit;
}

.wrapper div img {
    height: inherit;
    width: inherit;
}

@keyframes letter-f {
    0% {
        display: none;
        left: 0px;
        opacity: 0;
    }
    
    20%{
        opacity: 0;
    }

    100% {
        display: block;
        left: 11vw;
        opacity: 1;
    }
}

@keyframes letter-a {
    0% {
        display: none;
        left: 0px;
        opacity: 0;
    }
    
    20%{
        opacity: 0;
    }

    100% {
        display: block;
        left: 16vw;
        opacity: 1;
    }
}


@keyframes letter-r {
    0% {
        display: none;
        left: 0px;
        opacity: 0;
    }
    
    20%{
        opacity: 0;
    }

    100% {
        display: block;
        left: 21.5vw;
        opacity: 1;
    }
}


@keyframes letter-m {
    0% {
        display: none;
        left: 0px;
        opacity: 0;
    }
    
    20%{
        opacity: 0;
    }

    100% {
        display: block;
        left: 28.5vw;
        opacity: 1;
    }
}


@keyframes letter-s {
    0% {
        display: none;
        left: 0px;
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    100% {
        display: block;
        left: 36vw;
        opacity: 1;
    }
}

@keyframes letter-n {
    0% {
        display: none;
        left: 0px;
        opacity: 0;
    }

    20%{
        opacity: 0;
    }

    100% {
        display: block;
        left: -11.5vw;
        opacity: 1;
    }
}

@keyframes letter-n2 {
    0% {
        display: none;
        left: 0px;
        opacity: 0;
    }

    20%{
        opacity: 0;
    }

    100% {
        display: block;
        left: -18vw;
        opacity: 1;
    }
}

@keyframes letter-i {
    0% {
        display: none;
        left: 0px;
        opacity: 0;
    }
    
    20%{
        opacity: 0;
    }

    100% {
        display: block;
        left: -23vw;
        opacity: 1;
    }
}









@media only screen and (max-width: 415px) {
    
    .gear {
        position: relative;
        width: 25vw;
        top: 18.5%;
        left: 35%;
        animation: spin 10s linear infinite;
    }
    
    .bulb {
        position: relative;
        width: 25vw;
        top: 20%;
        left: 9%;
    
    }
    
    .leaf {
        position: relative;
        width: 25vw;
        top: 20%;
        left: -17%;
    }    

}


@keyframes spin {
    0% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    100% {
        transform: rotate(360deg);
    }
}

.fade-in {
    animation: fadeIn ease 5s infinite;

}
 
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }